# Fill your config
API_HASH = "2201865f0e468725d3b9e0f54b090f0f"
BOT_TOKEN = ""
TELEGRAM_API = "26292638"
OWNER = "8094066652"
OWNER_USERNAME = "DanDikosta"
PASSWORD = "CaptainJackSparrow"
DATABASE_URL = "mongodb+srv://laniwab800:ePkD4LqVM9upky5O@cluster0.sxtkped.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
LOGCHANNEL = "-1002547102093"   # Add channel id as: "-100 + Actual_ID"
USER_SESSION_STRING = "" # Premium account session string to upload upto 4GB (requires "LOGCHANNEL")

# tired of redeploying :(
UPSTREAM_REPO = "https://github.com/yashoswalyo/MERGE-BOT"
UPSTREAM_BRANCH = "master"
